.cards {
    margin-top: 32.3%;
    z-index: -1;
}

/* Home.css */

.cards {
    opacity: 0;
    transform: translateY(-70px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .cards.animate {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: 1024px)  {
    .cards{
      margin-top: 20rem;
      display: flex;
      max-width: 450px!important;
      width: 100%;
    }

    .home-content .cardscursos{
      margin-bottom: 15rem;
      padding: 2px 0;
      margin-top: 4rem;
    }

    .home-content .cardscursos .h1 {
      margin-top: -8rem!important;
      font-size: 25px!important;
      display: flex;
    }

    .home-content .cardscursos .h1 h1 {
      font-size: 25px!important;
    }
  }
  